/******************************* *******************/
/********* Css commun à toutes les pages ***********/
body {
  margin: auto;
  width: 100%;
  max-width: 1600px;
  font-size: 1.1em;
}
a {
  text-decoration: none;
  color: black;
}

.document {
  min-height: 85vh;
}
footer {
  width: 100%;
  min-height: 15vh;
}

/************************************************* */
/******** Le Header ****************************** */
.marge {
  width: 90%;
  margin: auto;
  padding: 1em;
}
.home {
  text-decoration: underline;
}
.nameAndPhoto {
  display: flex;
  justify-content: space-between;
}
.name {
  font-size: 2em;
  margin-top: 0.5em;
}
.idPhoto {
  object-fit: cover;
  height: 120px;
  width: 90px
}
.navMenu {
  display: flex;
  justify-content: center;
  width: auto;
}
.siteLinks {
  display: flex;
  list-style-type: none;
  margin: 0;
}
.siteLink {
  margin-right: 1.5em;
  height: 100%;
}
.navLink {
  text-decoration: underline;
}
/************************************************* */
/******** La page Home *************************** */

/************************************************* */
/******** La page Compétences ******************** */

/************************************************* */
/******** La page CV ***************************** */

/******** La page Contact ************************ */

/************************************************* */
/******** Le Responsive ************************** */
