/******************************* *******************/
/********* Css commun à toutes les pages ***********/
body {
  margin: auto;
  width: 100%;
  max-width: 1600px;
  font-size: 1.1em;
}
a {
  text-decoration: none;
  color: black;
}

.document {
  min-height: 85vh;
}
footer {
  width: 100%;
  min-height: 15vh;
}

/************************************************* */
/******** Le Header ****************************** */
.marge {
  width: 90%;
  margin: auto;
  padding: 1em;
}
.home {
  text-decoration: underline;
}

/************************************************* */
/******** La page Home *************************** */

/************************************************* */
/******** La page Compétences ******************** */

/************************************************* */
/******** La page CV ***************************** */

/******** La page Contact ************************ */

/************************************************* */
/******** Le Responsive ************************** */
