/******************************* *******************/
/********* Css commun à toutes les pages ***********/
@font-face {
  font-family: "sourceRegular";
  src: url("fonts/SourceSansPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "sourceBold";
  src: url("fonts/SourceSansPro-Bold.otf") format("opentype");
  font-weight: 800;
}
body {
  margin: auto;
  width: 100%;
  max-width: 1600px;
  font-size: 1.1em;
  background-color: #fff3f3;
  font-family: "sourceRegular";
}
h1,
h2,
h3 {
  font-family: "sourceBold";
}
a {
  text-decoration: none;
  color: black;
}
button {
  padding: 0.3em;
  background-color: beige;
  width: 90px;
  border-radius: 2em;
  cursor: pointer;
}
button:hover {
  transition: filter 0.3s;
  filter: invert(1);
}
.document {
  min-height: 85vh;
}
footer {
  width: 100%;
  min-height: 15vh;
  background-color: rgba(222, 184, 135, 0.404);
}
.signature {
  display: flex;
  justify-content: center;
  padding: 1.5em;
}
.marge {
  width: 90%;
  margin: auto;
  padding: 1em;
}

/************************************************* */
/******** Le Header ****************************** */

.nameAndPhoto {
  display: flex;
  justify-content: space-between;
}
.name {
  margin-top: 0.5em;
}
.idPhoto {
  object-fit: cover;
  height: 120px;
  width: 90px;
}
.navMenu {
  display: flex;
  justify-content: center;
  width: auto;
  margin-right: 0.6em;
}
.siteLinks {
  display: flex;
  list-style-type: none;
  margin: 0;
}
.siteLink {
  margin-right: 0.5em;
  height: 100%;
}
.navLink {
  padding: 0.5em 0.2em;
  background-color: beige;
  border-radius: 2.1em;
  border: 1px solid lightgray;
}
.homeLink {
  padding: 0.5em 0.9em;
}
.contactNavLink {
  padding: 0.5em 0.9em;
}
.githubNavLink {
  padding: 0.5em 0.9em;
}
.cvNavLink {
  padding: 0.5em 1.5em;
}
/************************************************* */
/******** La page Home *************************** */
.motivation {
  padding: 0.5em;
}
.sectionTitle {
  padding: 0.5em;
}
.projects {
  background-color: #f2f2f2;
  padding: 1.7em 1em 1.5em 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projectItem {
  box-shadow: 2px 2px 6px lightgray;
  background-color: beige;
  width: 25%;
  border-radius: 1em 1em 0 0;
  margin: 1.7%;
  padding: 0.2em 0.3em 0.2em 0.2em;
  transform: transform 0.3s;
  transition: all 0.3s ease;
}
.projectItem:hover {
  transform: scale(1.1);
}
.photoBox {
  display: flex;
  justify-content: center;
}
.projectPhoto {
  height: 200px;
  width: 100%;
  border-radius: 1em 1em 0 0;
  padding: 0.1em;
  margin-left: 0.2em;
}
.projectTitle {
  display: flex;
  margin-top: 0.1em;
  margin-bottom: 0;
  text-align: center;
}
.projectDescription {
  display: inline-block;
  text-align: center;
  margin: 0.5em 0.5em;
}
.informations {
  display: flex;
}
.joinInfos {
  display: flex;
  align-items: center;
  text-align: center;
}
.mailPicture {
  margin-top: 25px;
  height: 80px;
  width: 70px;
}
.gitLogo {
  height: 80px;
  width: 70px;
}
.contact {
  margin-right: 2em;
}
/************************************************* */
/******** La page Compétences ******************** */
.margeCompetence {
  width: 90%;
  margin: auto;
}

.technos {
  background-color: #f2f2f2;
  padding: 0.5em 1em 1.5em 0em;
}
.items {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.technoItem {
  box-shadow: 2px 2px 6px lightgray;
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 1em;
  margin: 1em;
  padding: 0.5em;
  text-align: center;
  opacity: 0;
  transform: translateY(-50px);
  animation-name: apparition;
  animation-duration: 0.8s;
  animation-delay: var(--delay);
  animation-fill-mode: forwards;
}
.javascriptItem {
  box-shadow: 2px 2px 6px lightgray;
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 1em;
  margin: 0.4em;
  padding: 0.5em;
  text-align: center;
  opacity: 0;
  transform: translateY(-50px);
  animation-name: apparition;
  animation-duration: 0.8s;
  animation-delay: var(--delay);
  animation-fill-mode: forwards;
}
.technoPhoto {
  width: 80px;
  height: auto;
}
.javascriptPhoto {
  width: 80px;
  height: auto;
  margin-top: 0.9em;
}
.technoTitle {
  margin-top: 0.5em;
}
.javascriptTitle {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/************************************************* */
/******** La page CV ***************************** */
.cv {
  display: flex;
  justify-content: center;
  margin: 1em 1em;
}
.cvImage {
  width: 700px;
}
/******** La page Contact ************************ */
.contactMargin {
  margin-right: 1em;
}
.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}
.linkedinPicture {
  height: 50px;
  width: 70px;
}
.mailContact {
  margin: 0.5em;
}
.linkedinContact {
  margin: 0.5em;
}
/********************************** */
/********* L'Animation ************** */
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/****************************************************************************/
/********* Ordre d'apparition des éléments de la page compétences ***********/
.technoItem:nth-child(1) {
  --delay: 0s;
}
.technoItem:nth-child(2) {
  --delay: 0.2s;
}
.javascriptItem:nth-child(3) {
  --delay: 0.4s;
}
.technoItem:nth-child(4) {
  --delay: 0.6s;
}
/************************************************* */
/******** Le Responsive ************************** */
@media screen and (max-width: 1150px) {
  .projectItem {
    width: 40%;
  }
  .technoItem {
    margin: 1%;
  }
}
@media screen and (max-width: 827px) {
  .marge {
    margin: auto;
  }
  .margeCompetence {
    width: 95%;
    margin: auto;
  }
  .items {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 769px) {
  .technoItem {
    width: 100px;
  }
  .javascriptItem {
    width: 100px;
  }
  .technoTitle {
    font-size: 1.2em;
  }
  .javascriptTitle {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 750px) {
  .projectItem {
    width: 60%;
  }
}
@media screen and (max-width: 573px) {
  .technoItem {
    width: 100px;
  }
  .javascriptItem {
    width: 100px;
  }
}
@media screen and (max-width: 550px) {
  .projectItem {
    width: 90%;
  }
  .technoTitle {
    font-size: 1.2em;
  }
  .javascriptTitle {
    font-size: 1.2em;
  }
  .cv {
    margin: 0;
  }
  .cvImage {
    width: 550px;
  }
}
@media screen and (max-width: 421px) {
  .technoItem {
    width: 170px;
  }
  .javascriptItem {
    width: 170px;
  }
  .cvImage {
    width: 420px;
  }
}
@media screen and (max-width: 393px) {
  .cvImage {
    width: 393px;
  }
}
@media screen and (max-width: 365px) {
  .projects {
    width: 100%;
    margin: auto;
  }
  .technos {
    width: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 365px) {
  .projects {
    width: 100%;
    margin: auto;
  }
  .cvImage {
    width: 365px;
  }
}
/******************************************************************************************** */
/******** Réglage sur le Responsive tablettes pour les compétences ************************** */
@media screen and (max-width: 912px) and (min-width: 768px) {
  .competencesHeader {
    margin: 2em;
  }
  .technos {
    width: 100%;
  }
  .technosTitle {
    margin: 2em;
  }
  .competencesdocument {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
  }
  .technologies {
    width: 100%;
  }
}
